@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color0: #3D1FA6;
    --color1: #4F22F2;
    --color2: #643DF2;
    --color3: #A691F2;
    --color4: #C7BBF2;

    --color5: #F1F1F1;
    --color6: #0D0D0D;

    --ALERT: #B64848;
    --SUCCESS: #48b65c;

    font: 16px 'Nunito Sans', sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-image: linear-gradient(90deg, var(--color1) 1%, var(--color2) 200%);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color0);
}

.main-header nav {
    display: flex;
}

.main-header > h1 {
    font-size: 3.5rem;
}

.main-header > h1, .main-header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header nav a {
    font-size: 1.1rem;
    margin: 0 25px;
}

header nav a, header a {
    transition: color 200ms;
}

header nav a:hover, header a:hover {
    color: var(--color3);
}

main {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main [data-quiz|="container"] {
    border: 1.5px solid var(--color3);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    width: 100%;
    max-width: calc(100vw / 1.5);
}

main [data-quiz="header"] {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

[data-quiz-header="texts"] [data-quiz-header-texts="title"] {
    width: fit-content;
    font-size: 1.3rem;
    font-weight: bold;
}

[data-quiz-header="texts"] [data-quiz-header-texts="id"] {
    color: var(--color4);
    font-size: .7rem;
}

[data-quiz="tools"] .tools-icon {
    border: 1px solid var(--color0);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin: 3px;
    font-size: 1.2rem;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: background-color 200ms;
}

[data-quiz="tools"] .tools-icon:hover {
    background-color: var(--color2);
}

.result {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

.answers-label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid white;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    position: relative;
    margin: 5px;
    cursor: pointer;
}

input[type="radio"]:checked::before {
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.answers-p {
    display: inline-block;
    font-size: 1.3rem;
}

.answers-p::before {
    content: "\00A0";
}

.buttons-container {
    display: flex;
    justify-content: center;
}

[data-button="result"] {

    width: 250px;
    padding: 15px;
    margin: 15px;
    border-radius: 7px;
    border: 1px solid var(--color3);
    background-color: transparent;
    color: var(--color5);
    transition: background-color 200ms;
}

[data-button="result"]:hover {
    background-color: var(--color1);
    cursor: pointer;
}

[data-button="result"]:active {
    transform: scale(.95)
}

.modal-creator-quiz-buttons-wrapper {
    display: flex;
    justify-content: center;
}

[data-question-creator-content="header"], [data-question-management-content="header"] {

    position: sticky;
    padding: 30px;
    top: 0;
    background-color: var(--color0);
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 0 10px #0000002c;

    & [data-question-creator-content="description"], [data-question-management-content="description"] {

        & h1 {
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            font-weight: bold;
        }

        & p {
            color: var(--color4);
            font-weight: normal;
        }
    }
}

[question-creator-wrapper="content"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 60vw;
    background-color: var(--color0);
    border-radius: 10px;
    box-shadow: 2px 2px 25px #00000039;
    user-select: none;
    overflow: hidden;
}

[data-question-creator="details-wrapper"], [data-question-management="question-details"] {
    overflow-y: auto;
    height: 60vh;
    padding: 15px;
}

[data-question-creator="details-wrapper"]::-webkit-scrollbar, [data-question-management="question-details"]::-webkit-scrollbar {
    background-color: var(--color1);
    width: 5px;
    margin: 5px;
    border-radius: 7px;
}

[data-question-creator="details-wrapper"]::-webkit-scrollbar-thumb, [data-question-management="question-details"]::-webkit-scrollbar-thumb {
    background-color: var(--color3);
    border-radius: 5px;
}

[data-question-creator], [data-question-management="question-details"] {

    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 15px;

    & .question-management-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid var(--color2);
        border-radius: 7px;
        margin: 5px 0;
        padding: 15px;

        & .question-section-header {

            & .question-section-header-title {
                color: var(--color5)
            }

            & .question-section-header-description {
                color: var(--color4);
                font-size: .85rem;
            }
        }
    }

    & input[type="text"] {
        border: 1px solid #643DF2;
        outline: none;
        background-color: transparent;
        color: var(--color5);
        font-size: .9rem;
        border-radius: 4px;
        padding: 5px;
        width: 100%;
        margin-top: 10px;
    }
}

[data-question-creator="buttons-container"], [data-question-management="buttons-container"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    padding: 15px;
}

[data-question-details="answers"] {

    & [data-question-details] {

        display: flex;
        align-items: baseline;

        & span {
            color: var(--color3)
        }

        & input[type="radio"] {
            margin: 0 7px;
        }

        & input[type="text"] {
            padding: 7px;
        }
    }
}

small {
    padding: 20px 0;
    color: var(--color3)
}

[data-button] {
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    border: 1px solid var(--color3);
    background-color: transparent;
    color: var(--color5);
    transition: background-color 200ms;
}

[data-button]:hover {
    background-color: var(--color1);
    cursor: pointer;
}

[data-button]:active {
    transform: scale(.95)
}

.invalid-field {
    border: 1px solid var(--ALERT) !important;
}
