@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color0: #3D1FA6;
    --color1: #4F22F2;
    --color2: #643DF2;
    --color3: #A691F2;
    --color4: #C7BBF2;

    --color5: #F1F1F1;
    --color6: #0D0D0D;

    font: 16px 'Nunito Sans', sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-image: linear-gradient(90deg, var(--color1) 1%, var(--color2) 200%);
}

.scrollbar-wrapper {
    width: 100vw;
    height: 2px;
    position: fixed;
    top: 0;
    background: var(--color5);
}

.scrollbar {
    background: var(--color2);
    height: 2px;
    position: fixed;
    top: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color0);
}

header nav {
    display: flex;
}

header > a {
    font-size: 3.5rem;
}

header > a, header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header nav a {
    font-size: 1.1rem;
    margin: 0 25px;
}

header nav a, header a {
    transition: color 200ms;
}

header nav a:hover, header a:hover {
    color: var(--color3);
}

main {
    color: white;
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section {
    border: 3px solid var(--color0);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    min-width: 100%;
}

main section h1 {
    font-size: 2rem;
}

.edit-items-wrapper {
    display: flex;
}

.edit-items-wrapper i {
    cursor: pointer;
    margin: 10px;
    font-size: 2rem;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.result {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

.answers-label {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    border: 2px solid white;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    position: relative;
}

input[type="radio"]:checked::before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.answers-p {
    display: inline-block;
    font-size: 1.3rem;
}

.answers-p::before {
    content: "\00A0";
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons-container input, 
.modal-creator-quiz-buttons-wrapper input {
    width: 100%;
    max-width: 250px;
    border-radius: 50px;
    border: 1px solid #643df228;
    background-color: var(--color0);
    box-shadow: 5px 5px 5px var(--color0);
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}
.modal-creator-quiz-buttons-wrapper input {
    background-color: var(--color2);
    color: var(--color5);
}

.buttons-container input:active, 
.modal-creator-quiz-buttons-wrapper input {
    transform: scale(.95)
}

.modal-create-quiz-wrapper {
    display: none; 
}

.modal-create-quiz-wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #0d0d0d93;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-create-quiz-content {
    position: relative;
    width: 100%;
    max-width: 79vw;
    min-height: 79vh;
    background-color: var(--color0);
    border-radius: 10px;
    box-shadow: 20px 20px var(--color6);
    user-select: none;
}

.modal-create-quiz-content i,
.modal-dashboard-content i,
.modal-edit-content i {
    color: var(--color3);
    font-size: 48px;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.modal-header h1 {
    color: white;
    font-size: 3.5rem;
}

.modal-create-quiz-content h2 {
    color: white;
}

.question-creator {
    display: flex;
    flex-direction: column;
}

.question-creator .question-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 25px;
}

.question-creator .creator-question-title {
    width: 100%;
    max-width: 500px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin: 25px;
    flex-direction: row;
}

.question-creator input[type="text"] {  
    border: none;
    outline: none;
    background-color: var(--color3);
    color: var(--color6);
    font-size: 1.3rem;
    margin: 0 10px;
    text-indent: 5px;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.creator-result {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.modal-creator-quiz-buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.incorrect {
    border: 3px solid #b90000;
    border-radius: 10px;
}

.correct {
    border: 4px solid #11c900;
    border-radius: 10px;
}

/*
    Dashboard
*/
.modal-dashboard-wrapper {
    display: none;    
}

.modal-dashboard-wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0d0d0d93;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dashboard-content {
    position: absolute;
    width: 100%;
    max-width: 79vw;
    min-height: 79vh;
    background-color: var(--color0);
    border-radius: 10px;
    box-shadow: 20px 20px var(--color6);
    user-select: none;
}

.modal-dashboard-content p {
    color: white;
    font-size: 2rem;
    margin-left: 25px;
}

/*
    Edit
*/

.modal-edit-wrapper {
    display: none;    
}

.modal-edit-wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0d0d0d93;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-edit-content {
    position: absolute;
    background-color: var(--color0);
    border-radius: 10px;
    box-shadow: 20px 20px var(--color6);
    user-select: none;
    width: 100%;
    max-width: 700px;
    min-height: 79vh;
}

.modal-edit-content input[type="text"] {  
    border: none;
    outline: none;
    background-color: var(--color3);
    color: var(--color6);
    font-size: 1.3rem;
    text-indent: 5px;
    border-radius: 4px;
    padding: 5px;
    width: 75%;
}

.modal-edit-answers-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-edit-quiz-data .temp-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-edit-quiz-data input[type="text"] {
    margin: 5px 30px;
}

.modal-edit-quiz-data h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.modal-edit-wrapper p {
    color: white;
    font-size: 2rem;
    margin-left: 25px;
}

.modal-edit-wrapper .buttons-container input {
    margin-top: 25px;
    background-color: var(--color1);
}

@media screen and (max-width: 800px) {
    .questions-wrapper h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .questions-wrapper p {
        font-size: 1.2rem;
    }

    .questions-wrapper i {
        font-size: 2rem;
    }

    input[type="radio"] {
        min-width: 10px;
        min-height: 10px;
    }
    
    input[type="radio"]:checked::before {
        width: 5px;
        height: 5px;
    }

    .quiz-header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .answers-label {
        display: flex;
        align-items: baseline;
    }

    .modal-header h1 {
        font-size: 2.5rem;
    }

    .modal-header i {
        font-size: 2rem;
    }

    .modal-edit-answers-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-edit-wrapper .buttons-container input {
        font-size: 1rem;
        
    }   

}

@media screen and (max-width: 500px) {
    .questions-wrapper h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .questions-wrapper p {
        font-size: 1.1rem;
    }

    .questions-wrapper i {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 300px) {
    .modal-header h1 {
        font-size: 1rem;
    }

    .modal-header i {
        font-size: 1.5rem;
    }

    .modal-edit-quiz-data input[type="text"] {
        font-size: 1rem;
    }

    .modal-edit-quiz-data h2 {
        font-size: 1.5rem;
    }

    .temp-edit input[type="text"] {
        font-size: 1rem;
    }

    .buttons-container input {
        width: 100px;
    }
}